body {
  font-family: $font-base;
  letter-spacing: $letter-spacing-base;
}

// Taille texte___________________________________________________________

.--sm-txt {
  font-size: 13px;
}

.--md-txt {
  font-size: 16px;
}

.--lg-txt {
  font-size: 20px;
}

.--xl-txt {
  font-size: 24px;
}

.--xxl-txt {
  font-size: 28px;
}

// Alignement texte___________________________________________________________

.--left-txt {
  text-align: left;
}

.--right-txt {
  text-align: right;
}

.--center-txt {
  text-align: center;
}

.--justify-txt {
  text-align: justify;
}

// Style texte (gras, italic, souligné)___________________________________________________________
@each $weight, $value in $weights {
  .--#{$weight} {
    font-weight: $value;
  }
}

.--underline-txt {
  text-decoration: underline;
}

.--capitalize-txt {
  text-transform: capitalize;
}

.--uppercase-txt {
  text-transform: uppercase;
}

.--lowercase-txt {
  text-transform: lowercase;
}

.--italic-txt {
  font-style: italic;
}
