._container {
  display: block;
}
._row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  ._col {
    @include margin-auto();
  }
}

// ____________________________________________Responsive __________________________________________________________________________________________________
@include sm-only {
  ._row {
    ._col {
      width: 300px;
    }

    ._col2 {
      width: 300px;
    }

    ._col3 {
      width: 300px;
    }
  }
}
@include md-only {
  ._row {
    ._col {
      width: 600px;
    }

    ._col2 {
      width: 300px;
    }

    ._col3 {
      width: 600px;
    }
  }
}
@include lg-only {
  ._row {
    ._col {
      width: 1000px;
    }

    ._col2 {
      width: 500px;
    }

    ._col3 {
      width: 333px;
    }
  }
}

@include xl-only {
  ._row {
    ._col {
      width: 1350px;
    }

    ._col2 {
      width: 675px;
    }

    ._col3 {
      width: 450px;
    }
  }
}
