<div class="_container --my-100 --ml-300 --relative --z-index-3">
  <div class="_row --mb-70 --justify-content-space-evenly">
    <div class="_col">
      <h1 class="--center-txt">Icon</h1>
    </div>
  </div>

  <div *ngFor="let element of elements" class="_row --mb-40 --justify-content-space-evenly">
    <div class="_col2">
      <div class="--p-20 --relative --mx-auto --border-2-solid --border-radius-5 --bd-light-grey  --xxl-txt --center-txt">
        <i class="fas {{element.id}} --green --absolute --top-20"></i><br>
        <i class="fab {{element.id}} --green --absolute --top-20"></i>

      </div>
    </div>
    <div class="_col2">
      <div (click)="copyService.copy('--' + element.id)"
        class="code --relative  --bg-light-black --yellow --p-20 --border-radius-10">
        <span class="copy --bg-yellow --light-black --p-10 --m-10 --border-radius-5"><i class="fas fa-copy"></i></span>
        <code class="--lg-txt">{{element.id}}</code>
      </div>
    </div>
  </div>
</div>